[submodule "submodules/device-tree-xlnx"]
	path = submodules/device-tree-xlnx
	url = git://github.com/Xilinx/device-tree-xlnx
[submodule "linux_os/u-boot-xlnx"]
	path = linux_os/u-boot-xlnx
	url = https://github.com/Xilinx/u-boot-xlnx.git
    ignore = dirty
